$color-white: #FFFFFF
$color-paper: #eeece7
$color-cloud: #4c5361

$color-accent: #202329
$color-text: #0f0f0f
$color-text-alt: #494967
$color-background-alt: $color-white
$color-background: $color-paper

$grid-gutter: pxToRem(16)

$heading-font-family: "Argesta Text", serif
$body-font-family: $heading-font-family
$h1-size: pxToRem(28)
$h1-font-family: "Argesta Display", serif
$lead-hero-size: pxToRem(20)
$lead-hero-size-desktop: pxToRem(26)
$lead-hero-line-height: 140%
$lead-hero-line-height-desktop: 150%
$body-line-height: 150%
$body-line-height-desktop: 170%

$header-background: $color-cloud
$header-sticky-background: $color-cloud
$header-color: white
$header-border-bottom-width: 0
$header-logo-height: 80px
$header-logo-height-desktop: 100px
$hero-color: $color-white
$hero-background-color: $color-cloud
$footer-background-color: none
$footer-logo-height-desktop: 80px

$breadcrumb-color: $color-text
$breadcrumb-color-active: $color-text-alt
