*
    letter-spacing: -2.5% !important
.hero
    .content
        h1 
            > span
                color: white
                font-family: "Argesta Text", serif
                font-style: italic
                font-weight: normal
                font-size: var(--lead-hero-size)
                line-height: var(--lead-hero-line-height)
                margin-top: $spacing-1
.post
    .post-subtitle
        font-style: italic
        font-weight: normal

@include media-breakpoint-down(desktop)
    header#document-header
        .primary-menu
            .container
                display: block
                > button
                    float: right
                    margin-top: pxToRem(-30)
                .logo
                    img
                        width: 100%
                        height: auto
                .menu
                    .nav-level-1
                        padding-bottom: $spacing-2
                        > li
                            border-bottom: none
                            a
                                padding: $spacing-1 0
                                font-size: pxToRem(26)
                                line-height: 120%
            .header-button
                margin-right: -4px
    .breadcrumb-container
        margin-top: 0 !important
    .toc-title,
    .toc-cta,
    .toc-container button
        color: $color-white
    .toc-cta
        border-top-color: $color-white
        .toc-cta-title
            &::after,
            span
                color: $color-white
    .toc
        ol
            li
                position: relative
                a,
                a.active
                    color: $color-white
                a.active
                    &::before
                        content: "• "
                        position: absolute
                        left: -13px
@include media-breakpoint-up(desktop)
    header#document-header
        nav.primary-menu
            > .container
                gap: $spacing-3
                .active
                    position: relative
                    &::after
                        content: "•"
                        position: absolute
                        bottom: -10px
                        transform: translateX(-2px)
                        left: 50%
    .hero
        .content
            display: flex
            flex-direction: column-reverse
            align-items: center
            figure
                width: columns(4)
                picture
                    background: $color-paper
                    padding: 10px
                    border-radius: 4px
                    img
                        border-radius: 4px
            .hero-text
                width: columns(10)
                text-align: center
        .single-meta
            width: 100%
            justify-content: center
            ul
                justify-content: center
    .persons__page
        .hero--with-image
            .content
                h1
                    width: 100%
.block-posts
    .block-content
        display: flex
        flex-direction: column-reverse
        gap: $spacing-4
.posts_categories__term
    .post-categories
        display: none